<!DOCTYPE html>
<!-->
<html class=" js no-flexbox no-flexboxlegacy canvas canvastext no-webgl no-touch geolocation postmessage no-websqldatabase no-indexeddb hashchange no-history draganddrop no-websockets rgba hsla multiplebgs backgroundsize no-borderimage borderradius boxshadow no-textshadow opacity no-cssanimations no-csscolumns no-cssgradients no-cssreflections csstransforms no-csstransforms3d no-csstransitions fontface generatedcontent video audio localstorage sessionstorage no-webworkers no-applicationcache svg inlinesvg no-smil svgclippaths js no-touch no-csstransforms no-csstransforms3d no-csstransitions" lang="en-US" xmlns:fb = "http://ogp.me/ns/fb#"><!--<![endif]-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        article, aside, figcaption, figure, footer, header, hgroup, nav, section {
            display: block
        }

        mark {
            background: #FF0;
            color: #000
        }
    </style>
    <style>
        article, aside, figcaption, figure, footer, header, hgroup, nav, section {
            display: block
        }

        mark {
            background: #FF0;
            color: #000
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title>Bostan | WordPress Theme For Business.</title>
    <link href="../../gmpg.org/xfn/11" rel="profile">
    <!-- favicon -->
    <link href="https://ahmad.works/bostan/xmlrpc.php" rel="pingback">
    <!-- Your custom head codes will go here -->
    <!-- custom head codes-->

    <meta name="robots" content="noindex,follow">
    <link title="Bostan » Feed" href="feed/default.htm" rel="alternate" type="application/rss+xml">
    <link title="Bostan » Comments Feed" href="comments/feed/default.htm" rel="alternate" type="application/rss+xml">
    <link title="Bostan » Home Comments Feed" href="new-home/feed/default.htm" rel="alternate" type="application/rss+xml">
    <div class="fit-vids-style" id="fit-vids-style" style="display: none;">
        &shy;
        <style>
            .fluid-width-video-wrapper {
                width: 100%;
                position: relative;
                padding: 0;
            }

                .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
        </style>
    </div>
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": ".\/js\/wp-emoji-release.min.js" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] }return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link id="aqpb-view-css-css" href="~/css/wp-content/themes/bostan/framework/aqua/assets/stylesheets/aqpb-view.css" rel="stylesheet" type="text/css" media="all">
    <link id="contact-form-7-css" href="~/css/wp-content/plugins/contact-form-7/includes/css/styles.css" rel="stylesheet" type="text/css" media="all">
    <link id="rs-plugin-settings-css" href="~/css/wp-content/plugins/revslider/public/assets/css/settings.css" rel="stylesheet" type="text/css" media="all">
    <style id="rs-plugin-settings-inline-css" type="text/css">
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption.white_blacktrans, .white_blacktrans {
            font-weight: bold;
            font-size: 50px;
            line-height: 36px;
            font-family: "Open Sans",sans-serif;
            padding: 20px;
            border-width: 0px;
            border-style: none;
            color: #fff;
            position: absolute;
            margin: 0px;
            letter-spacing: -1.5px;
            text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
            background: rgba(2,20,25,.5)
        }

        .tp-caption.blacktrans_background, .blacktrans_background {
            color: #fff;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            padding: 20px;
            border-width: 0px;
            border-style: none;
            border-radius: 0px;
            position: absolute;
            text-shadow: none;
            margin: 0px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            background: rgba(2,20,25,.5)
        }

        .tp-caption.white_rokkit, .white_rokkit {
            font-weight: bold;
            font-size: 50px;
            line-height: 36px;
            font-family: "Open Sans",sans-serif;
            padding: 0px 4px;
            border-width: 0px;
            border-style: none;
            color: #fff;
            position: absolute;
            padding-top: 1px;
            margin: 0px;
            letter-spacing: -1.5px;
            text-shadow: 2px 2px 3px rgba(255,255,255,0.1)
        }

        .tp-caption.trans_background, .trans_background {
            color: #fff;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            padding: 5px 15px;
            border-width: 0px;
            border-style: none;
            border-radius: 0px;
            position: absolute;
            text-shadow: none;
            margin: 0px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0
        }

        .hesperiden.tparrows {
            cursor: pointer;
            background: rgba(0,0,0,0.5);
            width: 40px;
            height: 40px;
            position: absolute;
            display: block;
            z-index: 100;
            border-radius: 50%;
        }

            .hesperiden.tparrows:hover {
                background: rgba(0, 0, 0, 1);
            }

            .hesperiden.tparrows:before {
                font-family: "revicons";
                font-size: 20px;
                color: rgb(255, 255, 255);
                display: block;
                line-height: 40px;
                text-align: center;
            }

            .hesperiden.tparrows.tp-leftarrow:before {
                content: "\e82c";
                margin-left: -3px;
            }

            .hesperiden.tparrows.tp-rightarrow:before {
                content: "\e82d";
                margin-right: -3px;
            }
    </style>
    <link id="wp-syntax-css-css" href="~/css/wp-content/plugins/wp-syntax/css/wp-syntax.css" rel="stylesheet" type="text/css" media="all">
    <link id="pricing-base-css" href="~/css/wp-content/themes/bostan/framework/wp-pricing-table/css/base.css" rel="stylesheet" type="text/css" media="all">
    <link id="pricing-layout-css" href="~/css/wp-content/themes/bostan/framework/wp-pricing-table/css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link id="pricing-fluid-skeleton-css" href="~/css/wp-content/themes/bostan/framework/wp-pricing-table/css/fluid_skeleton.css" rel="stylesheet" type="text/css" media="all">
    <link id="pricing-table-css" href="~/css/wp-content/themes/bostan/framework/wp-pricing-table/css/pricing_table.css" rel="stylesheet" type="text/css" media="all">
    <link id="opensans-css" href="../../https@fonts.googleapis.com/css@family=Open+Sans_253A300italic,400italic,600italic,700italic,800italic,400,800,700,600,300&ver=4.5.9" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_bootstrap_css-css" href="~/css/wp-content/themes/bostan/framework/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_fontello_css-css" href="~/css/fontello.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_fontelloanimation_css-css" href="~/css/animation.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_flexslider_css-css" href="~/css/wp-content/themes/bostan/js/flexslider/flexslider.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_galleryslider_css-css" href="~/css/wp-content/themes/bostan/js/flexslider/galleryslider.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_shortcodes_css-css" href="~/css/wp-content/themes/bostan/inc/shortcodes/style.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_tweets_css-css" href="~/css/wp-content/themes/bostan/js/tweets/jquery.tweet.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_prettyphoto_css-css" href="~/css/wp-content/themes/bostan/js/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_isotope_css-css" href="~/css/wp-content/themes/bostan/js/isotope/style.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_owl_carousel_css-css" href="~/css/wp-content/themes/bostan/js/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_owl_theme_css-css" href="~/css/wp-content/themes/bostan/js/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_main_style-css" href="~/css/wp-content/themes/bostan/style.css" rel="stylesheet" type="text/css" media="all">
    <link id="asalah_responsive_css-css" href="~/css/wp-content/themes/bostan/responsive.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/my-slider.css" />
    <script src="~/js/ism-2.2.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/modernizr.js"></script>
    <link href="wp-json/default.htm" rel="https://api.w.org/">
    <meta name="generator" content="WordPress 4.5.9">
    <link href="default.htm" rel="canonical">
    <link href="default.htm" rel="shortlink">
    <link href="wp-json/oembed/1.0/embed@url=https_253A_252F_252Fahmad.works_252Fbostan_252F" rel="alternate" type="application/json+oembed">
    <link href="wp-json/oembed/1.0/embed@url=https_253A_252F_252Fahmad.works_252Fbostan_252F&format=xml" rel="alternate" type="text/xml+oembed">
    <meta name="generator" content="Powered by Slider Revolution 5.2.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">

    <script src="~/ckfinder/ckfinder.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <meta content="Home" property="og:title">
    <meta content="" property="og:description">
    <meta content="article" property="og:type">
    <meta content="~/css/wp-content/themes/bostan/img/default.jpg" property="og:image">
    <meta content="https://ahmad.works/bostan/" property="og:url" bostan="" awcdn1.ahmad.works="">
    <style>
        .page_title_holder {
            background-image: url('~/css/wp-content/uploads/2013/06/header_title.jpg');
            background-repeat: no-repeat;
        }

        body {
        }

        a {
        }

        h1 {
        }

        h2 {
        }

        h3 {
        }

        h4 {
        }

        h5 {
        }

        h6 {
        }

        .contact_info_item {
        }

        .below_header .navbar .nav > li > a {
        }

        .page-header a {
        }

        .services_info h3 {
        }

        .portfolio_info h5 {
        }

        .blog_title h4 {
        }

        .widget_container h3 {
        }

        .site_footer {
        }

            .site_footer a {
            }

        .site_secondary_footer {
        }

            .site_secondary_footer a {
            }

        .page_title_holder h1 {
        }

        html {
            background-image: url('~/css/wp-content/themes/bostan/images/bg/bg40.png');
        }

        .logo {
            margin-top: 30px;
        }

        .main_navbar {
            margin-top: 20px;
        }

        .logo img {
            width: 307px;
            height: 64px;
        }

        .page_title_holder h1 {
            color: #fff;
        }

        .page_title_holder a {
            color: #fff;
        }

        .clients_list li img {
            float: left;
            width: 100%;
        }

        .portfolio_thumbnail img {
            border-radius: 4px;
            width: 100%;
        }

        .page_title_holder {
            color: #fff;
        }

        .logo img {
            width: 302px;
            height 61px;
        }

        img {
            width: auto !important;
        }

        html {
            overflow-x: hidden;
        }
    </style>


</head>
<body class="home page page-id-23648 page-template page-template-page-builder page-template-page-builder-php body_width">
    <!-- Load facebook SDK -->

   
    <!-- End Load facebook SDK -->

    <script type="text/javascript">jQuery(document).bind("mobileinit", function () { jQuery.extend(jQuery.mobile, { autoInitializePage: false }) });</script>
    <!-- start site header -->
    <header class="header_container body_width">
        <!-- start top header -->
        <div class="container-fluid top_header">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12">

                        <!-- start header tools span -->
                        <div class="top_header_tools_holder pull-right">
                            <div class="header_items_line ">
                                <div class="social_icons pull-right">
                                    <ul class="social_icons_list clearfix">

                                        <li><a href="#" target="_blank"><i title="Facebook" class="icon-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i title="Google Plus" class="icon-gplus"></i></a></li>
                                        <li><a href="#" target="_blank"><i title="Linkedin" class="icon-linkedin"></i></a></li>
                                        <li><a href="#" target="_blank"><i title="Youtube" class="icon-youtube"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end header tools span -->
                        <!-- start contact info span -->
                        <div class="contact_info_holder">
                            <div class="contact_info_line">
                                <i class="icon-mail contact_info_icon"></i> <span class="mail_address contact_info_item">minhkiet.bigg@gmail.com</span>

                                <i class="icon-phone-outline contact_info_icon"></i> <span class="phone_number contact_info_item">090 123 98 80</span>


                            </div>

                        </div>
                        <!-- end contact info span -->


                    </div>
                </div>
            </div>
        </div>
        <!-- end top header -->
        <!-- start below header -->
        <div class="container-fluid body_width below_header headerissticky" id="below_header">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12" id="below_header_span">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="logo ">
                                    <a title="Bostan" href="../bostan">
                                        <img width="307" height="64" class="default_logo" alt="Bostan" src="~/css/wp-content/uploads/2016/05/logo_large1-1.png">
                                        <img width="307" height="64" class="retina_logo" alt="Bostan" src="~/css/wp-content/uploads/2016/05/logo_large1.png">
                                        <h1><strong class="hidden">Bostan</strong></h1>
                                    </a>
                                </div>
                                <div title="Scroll To Top" class="gototop pull-right" id="gototop">
                                    <i class="icon-up-open"></i>
                                </div>
                                <div class="mobile_menu_button">
                                    <i class="icon-menu"></i>
                                    <p class="mobile_menu_text">Menu</p>
                                </div>
                                <nav class="span navbar main_navbar pull-right desktop_menu">
                                    <div class="main_nav">
                                        <ul class="nav" id="menu-main">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-has-children menu-item-23790 dropdown active" id="menu-item-23790">
                                                <a href="@Url.Action("Index","Home")"><span class="menu_icon"><i class="icon-home"></i></span>TRANG CHỦ</a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23809" id="menu-item-23809"><a href="@Url.Action("Contact","Home")"><span class="menu_icon"><i class="icon-paper-plane"></i></span>LIÊN HỆ</a></li>
                                        </ul>
                                    </div>
                                </nav>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end below header -->
        <!-- start below header -->
        <div class="container-fluid body_width below_header hidden_header" style="height: 134px;">
        </div>
        <!-- end below header -->

        <div class="header_shadow_separator"></div>
    </header>
    <!-- end site header -->
    <div class="body_width site_middle_content">

        @RenderBody()

    </div>

    <footer class="container-fluid site_footer body_width">
        <div class="container">
            <div class="row-fluid">
                <div class="widget_area span3" id="first_footer">
                    <div class="widget_container clearfix widget widget_text" id="text-2">
                        <h3 class="page-header"><span class="page_header_title">Bostan.</span></h3>			<div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut. tempus vitae nibh. Nullam nec diam risus.</div>
                    </div>
                </div>

                <div class="widget_area span3" id="second_footer">
                    <div class="widget_container clearfix widget postlist-widget" id="postlist-widget-3">
                        <h3 class="page-header"><span class="page_header_title">Recent News.</span></h3>

                        <div class="post_list itswidget">
                            <div class="post_row clearfix">
                                <div class="post_thumbnail">
                                    <a class="thumbnail" href="a-standard-image-post/default.htm">

                                        <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="photodune-653955-work-from-home-m" src="~/css/wp-content/uploads/2013/05/photodune-653955-work-from-home-m-520x337.jpg">
                                    </a>
                                </div>
                                <div class="post_info">
                                    <div class="post_title"><a href="a-standard-image-post/default.htm"><h6>A Standard Image Post</h6></a></div>
                                    <span class="blog_date meta_item">May 18, 2013</span>

                                </div>
                            </div>
                            <div class="post_row clearfix">
                                <div class="post_thumbnail">
                                    <a class="thumbnail" href="this-is-a-gallery-post/default.htm">

                                        <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Graduate In Hallway" src="~/css/wp-content/uploads/2013/05/photodune-344850-graduate-in-hallway-m-1-520x337.jpg">
                                    </a>
                                </div>
                                <div class="post_info">
                                    <div class="post_title"><a href="this-is-a-gallery-post/default.htm"><h6>This is a Gallery Post</h6></a></div>
                                    <span class="blog_date meta_item">May 14, 2013</span>

                                </div>
                            </div>
                            <div class="post_row clearfix">
                                <div class="post_thumbnail">
                                    <a class="thumbnail" href="this-is-an-image-post/default.htm">

                                        <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Office" src="~/css/wp-content/uploads/2013/05/photodune-1544745-office-m-1-520x337.jpg">
                                    </a>
                                </div>
                                <div class="post_info">
                                    <div class="post_title"><a href="this-is-an-image-post/default.htm"><h6>Full Width Blog Post</h6></a></div>
                                    <span class="blog_date meta_item">May 13, 2013</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="widget_area span3" id="third_footer">
                    <div class="widget_container clearfix widget widget_text" id="text-3">
                        <h3 class="page-header"><span class="page_header_title">Thông tin liên hệ</span></h3>			<div class="textwidget">
                            <a href="https://goo.gl/FkBXZP" target="_blank">
                                Phòng I009, Khu phố 6, Phường Linh Trung, Quận Thủ Đức, TP Hồ Chí Minh, Linh Trung, Thủ Đức, Hồ Chí Minh, Việt Nam</a>
                                <br><br>
                                <a href="callto:0901239880" target="_blank"> 0901.239.880</a>
                                <br><br>
                                <a href="mailto:minhkiet.bigg@gmail.com" target="_blank"> minhkiet.bigg@gmail.com</a>
                                <br><br>
                        </div>
                    </div>
                </div>

                <div class="widget_area span3" id="fourth_footer">
                    <div class="widget_container clearfix widget widget_tag_cloud" id="tag_cloud-5">
                        <h3 class="page-header"><span class="page_header_title">Explore.</span></h3><div class="tagcloud">
                            <a title="3 topics" class="tag-link-17 tag-link-position-1" style="font-size: 22pt;" href="tag/business/default.htm">Business</a>
                            <a title="2 topics" class="tag-link-6 tag-link-position-2" style="font-size: 16.4pt;" href="tag/image/default.htm">Image</a>
                            <a title="2 topics" class="tag-link-18 tag-link-position-3" style="font-size: 16.4pt;" href="tag/politics/default.htm">Politics</a>
                            <a title="3 topics" class="tag-link-7 tag-link-position-4" style="font-size: 22pt;" href="tag/technology/default.htm">Technology</a>
                            <a title="1 topic" class="tag-link-8 tag-link-position-5" style="font-size: 8pt;" href="tag/video/default.htm">video</a>
                            <a title="1 topic" class="tag-link-9 tag-link-position-6" style="font-size: 8pt;" href="tag/youtube/default.htm">youtube</a>
                        </div>
                    </div><div class="widget_container clearfix widget widget_text" id="text-4">
                        <div class="textwidget"></div>
                    </div><div class="widget_container clearfix widget widget_search" id="search-6">
                        <form class="search clearfix" id="searchform" action="https://ahmad.works/bostan/" method="get">

                            <input name="s" class="span12 search_text" id="appendedInputButton" type="text" placeholder="Type and hit Enter">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <div class="container-fluid site_secondary_footer body_width">
        <div class="container secondary_footer_container">
            <div class="row-fluid">
                <div class="span12 pull-left">
                    All rights reserved, Bostan 2013
                </div>
            </div>
        </div>


    </div>


    <div class="below_header fixed_header" style="top: 0px; position: absolute; z-index: -2; opacity: 0;"><div class="logo"><img class="default_logo" style="display: block;"></div></div>

    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script type="text/javascript" src="~/js/jquery/aqpb-view.js"></script>
    <script type="text/javascript" src="~/js/jquery/comment-reply.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var _wpcf7 = { "loaderUrl": "https:\/\/ahmad.works\/bostan\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif", "recaptchaEmpty": "Please verify that you are not a robot.", "sending": "Sending ..." };
/* ]]> */
    </script>
    <script type="text/javascript" src="~/js/jquery/scripts.js"></script>
    <script type="text/javascript" src="~/js/jquery/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.eislideshow.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.ticker.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.easing.js"></script>
    <script type="text/javascript" src="~/js/jquery/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/js/jquery/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.carouFredSel-6.2.0-packed.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.transit.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.ba-throttle-debounce.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/component.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery.tweet.js"></script>
    <script type="text/javascript" src="~/js/jquery/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/jquery/asalah.js"></script>
    <script type="text/javascript" src="~/js/jquery/wp-embed.min.js"></script>

    <script type="text/javascript">

        jQuery("a.prettyPhoto").prettyPhoto();

        jQuery(".prettyPhotolink").click(function () {
            var thisgal = jQuery(this).attr('rel');
            jQuery("a.prettyPhoto." + thisgal + ":first").click()
        });

        /* Mobile Menu */

        var custom_click_event = jQuery.support.touch ? "tap" : "click";
        jQuery(".main_menu .dropdown > a, .main_menu .dropdown-submenu > a").each(function () {
            if (jQuery(this).next().length > 0) {
                jQuery(this).addClass("mobile_menu_parent");
            };
        })

        jQuery('<span class="mobile_dropdown_arrow"><i class="fa fa-angle-down"></i></span>').appendTo('.main_menu li a.mobile_menu_parent');

        jQuery('.mobile_menu_button').on(custom_click_event, function (event) {
            event.stopImmediatePropagation();
            event.preventDefault();
            jQuery('#below_header_span').toggleClass('mobile_menu_opened');
            jQuery('.main_navbar.desktop_menu').removeClass('desktop_menu');

        });

        jQuery(".main_navbar a.dropdown-toggle i.icon-down-open").on(custom_click_event, function (event) {
            // 	if (jQuery(this).hasClass('opened')) {
            // 		window.location = jQuery(this).attr('href');
            // 		jQuery(this).removeClass('opened');
            // 		jQuery(this).next('ul.dropdown-menu').slideUp();
            // 	} else {
            // 		event.preventDefault();
            //     event.stopPropagation();
            // 		jQuery('ul.dropdown-menu').slideUp();
            //     jQuery(this).next('ul.dropdown-menu').slideDown();
            // 		jQuery(this).addClass('opened');
            // }
            event.preventDefault();
            event.stopPropagation();
            var parent = jQuery(this).parent().parent();
            if (parent.hasClass('opened')) {
                jQuery(this).parent().next('ul.dropdown-menu').slideUp(100);
                parent.removeClass('opened');
                jQuery(this).removeClass('icon-up-open');
                jQuery(this).addClass('icon-down-open');
            } else {
                parent.addClass('opened');
                jQuery(this).parent().next('ul.dropdown-menu').slideDown(100);
                jQuery(this).removeClass('icon-down-open');
                jQuery(this).addClass('icon-up-open');
            }
        });
        //   jQuery(".main_navbar a.dropdown-toggle").on('tap click', function(event) {
        // 			if (jQuery(this).hasClass('opened')) {
        // 				window.location = jQuery(this).attr('href');
        // 				jQuery(this).removeClass('opened');
        // 				jQuery(this).next('ul.dropdown-menu').slideUp();
        // 			} else {
        // 				event.preventDefault();
        // 		    event.stopPropagation();
        // 				jQuery('ul.dropdown-menu').slideUp();
        // 		    jQuery(this).next('ul.dropdown-menu').slideDown();
        // 				jQuery(this).addClass('opened');
        // 		}
        // 		if (jQuery(this).find('i').hasClass('icon-down-open')) {
        // 			jQuery(this).find('i').removeClass('icon-down-open');
        // 			jQuery(this).find('i').addClass('icon-up-open');
        // 		} else {
        // 			jQuery(this).find('i').removeClass('icon-up-open');
        // 			jQuery(this).find('i').addClass('icon-down-open');
        // 		}
        // });

        jQuery(".main_navbar .dropdown-submenu a i.icon-down-open").on(custom_click_event, function (event) {
            event.preventDefault();
            event.stopPropagation();
            var parent = jQuery(this).parent().parent();
            if (parent.hasClass('opened')) {
                jQuery(this).parent().next('ul.dropdown-menu').slideUp(100);
                parent.removeClass('opened');
                jQuery(this).removeClass('icon-up-open');
                jQuery(this).addClass('icon-down-open');
            } else {
                parent.addClass('opened');
                jQuery(this).parent().next('ul.dropdown-menu').slideDown(100);
                jQuery(this).removeClass('icon-down-open');
                jQuery(this).addClass('icon-up-open');
            }
        });
    </script>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <style>
        #cfacebook {
            position: fixed;
            bottom: 0px;
            right: 100px;
            z-index: 999999999999999;
            width: 250px;
            height: auto;
            box-shadow: 6px 6px 6px 10px rgba(0,0,0,0.2);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
        }

            #cfacebook .fchat {
                float: left;
                width: 100%;
                height: 270px;
                overflow: hidden;
                display: none;
                background-color: #fff;
            }

                #cfacebook .fchat .fb-page {
                    margin-top: -130px;
                    float: left;
                }

            #cfacebook a.chat_fb {
                float: left;
                padding: 0 25px;
                width: 250px;
                color: #fff;
                text-decoration: none;
                height: 40px;
                line-height: 40px;
                text-shadow: 0 1px 0 rgba(0,0,0,0.1);
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);
                background-repeat: repeat-x;
                background-size: auto;
                background-position: 0 0;
                background-color: #3a5795;
                border: 0;
                border-bottom: 1px solid #133783;
                z-index: 9999999;
                margin-right: 12px;
                font-size: 18px;
            }

                #cfacebook a.chat_fb:hover {
                    color: grey;
                    text-decoration: none;
                }
    </style>
    <script>
        jQuery(document).ready(function () {
            jQuery(".chat_fb").click(function () {
                jQuery('.fchat').toggle('slow');
            });
        });
    </script>
    <div id="cfacebook">
        <a href="javascript:;" class="chat_fb" onclick="return:false;"><i class="fa fa-facebook-square"></i> Phản hồi của bạn</a>
        <div class="fchat">
            <div class="fb-page" data-tabs="messages" data-href="https://www.facebook.com/weddingdressbeautiful/" data-width="250" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
        </div>
    </div>
</body>

</html>