
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIntroduce.cshtml";
}

    <!-- post title holder -->
    <!-- end post title holder -->

    <section class="main_content page_builder_content">

        <div class="blog_post post-23648 page type-page status-publish hentry" id="post-23648">
            <div class="aq-template-wrapper aq_row" id="aq-template-wrapper-23647">
                <div class="container-fluid new_section fullwidth_aq_rev_block">
                    <div class="row-fluid">
                        <div class="aq-block  aq-block-aq_rev_block aq_span12 span12 aq-first cf" id="aq-block-1">
                            <div class="row-fluid">
                                <div class="span12">

                                    <div class="rev_slider_wrapper fullwidthbanner-container" style="height: 400px;background-color: rgb(233, 233, 233);">
                                        <!-- START REVOLUTION SLIDER 5.2.6 auto mode -->
                                        <div class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="height: 400px">
                                            <div class="ism-slider" data-play_type="loop" id="my-slider">
                                                <ol>
                                                    <li>
                                                        <img src="~/images/BehbehaniHamiltoBanner-1349x400.jpg" />
                                                    </li>
                                                    <li>
                                                        <img src="~/images/BehbehaniHamiltoBanner-1349x400.jpg" />
                                                    </li>
                                                    <li>
                                                        <img src="~/images/BehbehaniHamiltoBanner-1349x400.jpg" />

                                                    </li>
                                                </ol>
                                            </div>


                                        </div>


                                    </div><!-- END REVOLUTION SLIDER -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="container-fluid new_section">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="aq-block  aq-block-aq_service_block aq_span3 span3 aq-first cf" id="aq-block-2">
                                <div class="row-fluid">
                                    <div class="span12 service_item new_lifted">


                                        <div class="service_icon hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3a">
                                            <a class="icon-desktop hi-icon"></a>
                                        </div>


                                        <div class="services_info">
                                            <h3>Responsive Design</h3>						<p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="aq-block  aq-block-aq_service_block aq_span3 span3  cf" id="aq-block-3">
                                <div class="row-fluid">
                                    <div class="span12 service_item new_lifted">


                                        <div class="service_icon hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3a">
                                            <a class="icon-diamond hi-icon"></a>
                                        </div>


                                        <div class="services_info">
                                            <h3>Retina Ready</h3>						<p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="aq-block  aq-block-aq_service_block aq_span3 span3  cf" id="aq-block-4">
                                <div class="row-fluid">
                                    <div class="span12 service_item new_lifted">


                                        <div class="service_icon hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3a">
                                            <a class="icon-umbrella hi-icon"></a>
                                        </div>


                                        <div class="services_info">
                                            <h3>Easy Customize</h3>						<p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="aq-block  aq-block-aq_service_block aq_span3 span3  cf" id="aq-block-5">
                                <div class="row-fluid">
                                    <div class="span12 service_item new_lifted">


                                        <div class="service_icon hi-icon-wrap hi-icon-effect-3 hi-icon-effect-3a">
                                            <a class="icon-sound hi-icon"></a>
                                        </div>


                                        <div class="services_info">
                                            <h3>Web Solution</h3>						<p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.</p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="container-fluid new_section">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="aq-block  aq-block-aq_postcars_block aq_span12 span12 aq-first cf" id="aq-block-6">
                                <div class="row-fluid">
                                    <div class="span12">

                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="row-fluid">
                                                    <div class="span12">
                                                        <div class="portfolio_section_title">
                                                            <h3 class="page-header">
                                                                <a title="Projects" href=""><span class="page_header_title">Projects</span></a>
                                                                <span class="cars_arrow_control right_car_arrow" id="right_car_arrow1aq-block-6" style="display: block;"><i class="icon-angle-right"></i></span><span class="cars_arrow_control left_car_arrow" id="left_car_arrow1aq-block-6" style="display: block;"><i class="icon-angle-left"></i></span>
                                                            </h3>
                                                        </div>
                                                        <div class="portfolio_section_title">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row-fluid">
                                                    <div class="portfolio_carousel span12">
                                                        <div class="carousel">
                                                            <div class="slides row-fluid list_carousel responsive clearfix">
                                                                <div class="caroufredsel_wrapper" style="margin: 0px; left: auto; top: auto; width: 954px; height: 292px; text-align: left; right: auto; bottom: auto; overflow: hidden; float: none; display: block; position: relative; z-index: auto;">
                                                                    <div class="portfolio_cars" style="margin: 0px; left: 0px; top: 0px; width: 4770px; height: 292px; text-align: left; right: auto; bottom: auto; float: none; position: absolute;">
                                                                        <div class="the_portfolio_list_li_div" id="post-20888" style="width: 302px;">
                                                                            <div class="portfolio_item">
                                                                                <a class="prettyPhoto slideshow_20888" href="~/css/wp-content/uploads/2013/05/photodune-2650397-sailing-m-1024x683.jpg" rel="prettyPhoto"></a>
                                                                                <div class="portfolio_thumbnail">


                                                                                    <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Sailing" src="~/css/wp-content/uploads/2013/05/photodune-2650397-sailing-m-520x337.jpg">
                                                                                    <div class="portfolio_overlay">
                                                                                    </div>
                                                                                    <div class="center-bar">
                                                                                        <a class="prettyPhotolink icon-search goup" rel="slideshow_20888"></a>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="portfolio_info">
                                                                                    <a href="project/project-8/default.htm"><h5>Left Sidebar Project</h5></a>
                                                                                    <span class="portfolio_category"><a href="tag-portfolio/design/default.htm" rel="tag">Design</a>, <a href="tag-portfolio/graphics/default.htm" rel="tag">Graphics</a></span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="the_portfolio_list_li_div" id="post-3447" style="width: 302px;">
                                                                            <div class="portfolio_item">
                                                                                <a class="prettyPhoto slideshow_3447" href="~/css/wp-content/uploads/2013/05/photodune-4628306-signing-a-document-m-1024x683.jpg" rel="prettyPhoto"></a>
                                                                                <div class="portfolio_thumbnail">


                                                                                    <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="photodune-4628306-signing-a-document-m" src="~/css/wp-content/uploads/2013/05/photodune-4628306-signing-a-document-m-520x337.jpg">
                                                                                    <div class="portfolio_overlay">
                                                                                    </div>
                                                                                    <div class="center-bar">
                                                                                        <a class="prettyPhotolink icon-search goup" rel="slideshow_3447"></a>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="portfolio_info">
                                                                                    <a href="project/project-4/default.htm"><h5>Project 11</h5></a>
                                                                                    <span class="portfolio_category"><a href="tag-portfolio/cards/default.htm" rel="tag">Cards</a>, <a href="tag-portfolio/graphics/default.htm" rel="tag">Graphics</a>, <a href="tag-portfolio/idea/default.htm" rel="tag">Idea</a></span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="the_portfolio_list_li_div" id="post-20883" style="width: 302px;">
                                                                            <div class="portfolio_item">
                                                                                <a class="prettyPhoto slideshow_20883" href="~/css/wp-content/uploads/2013/05/photodune-3027632-interior-design-m-1-1024x1024.jpg" rel="prettyPhoto"></a>
                                                                                <div class="portfolio_thumbnail">


                                                                                    <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Interior design" src="~/css/wp-content/uploads/2013/05/photodune-3027632-interior-design-m-1-520x337.jpg">
                                                                                    <div class="portfolio_overlay">
                                                                                    </div>
                                                                                    <div class="center-bar">
                                                                                        <a class="prettyPhotolink icon-search goup" rel="slideshow_20883"></a>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="portfolio_info">
                                                                                    <a href="project/project-6/default.htm"><h5>Project 9</h5></a>
                                                                                    <span class="portfolio_category"><a href="tag-portfolio/design/default.htm" rel="tag">Design</a>, <a href="tag-portfolio/graphics/default.htm" rel="tag">Graphics</a></span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="the_portfolio_list_li_div" id="post-20885" style="width: 302px;">
                                                                            <div class="portfolio_item">
                                                                                <a class="prettyPhoto slideshow_20885" href="~/css/wp-content/uploads/2013/05/photodune-2540453-market-analysis-m.jpg" rel="prettyPhoto[20885]"></a>
                                                                                <a class="prettyPhoto slideshow_20885" href="~/css/wp-content/uploads/2013/05/photodune-3853785-business-analytics-m.jpg" rel="prettyPhoto[20885]"></a>
                                                                                <div class="portfolio_thumbnail">


                                                                                    <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Business Analytics" src="~/css/wp-content/uploads/2013/05/photodune-3853785-business-analytics-m-520x337.jpg">
                                                                                    <div class="portfolio_overlay">
                                                                                    </div>
                                                                                    <div class="center-bar">
                                                                                        <a class="prettyPhotolink icon-search goup" rel="slideshow_20885"></a>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="portfolio_info">
                                                                                    <a href="project/project-7/default.htm"><h5>Gallery Project</h5></a>
                                                                                    <span class="portfolio_category"><a href="tag-portfolio/advertisements/default.htm" rel="tag">Advertisements</a>, <a href="tag-portfolio/cards/default.htm" rel="tag">Cards</a>, <a href="tag-portfolio/idea/default.htm" rel="tag">Idea</a></span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="the_portfolio_list_li_div" id="post-20890" style="width: 302px;">
                                                                            <div class="portfolio_item">
                                                                                <a class="prettyPhoto slideshow_20890" href="~/css/wp-content/uploads/2013/05/photodune-363620-plot-of-new-house-m-1024x683.jpg" rel="prettyPhoto"></a>
                                                                                <div class="portfolio_thumbnail">


                                                                                    <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Plot of new house" src="~/css/wp-content/uploads/2013/05/photodune-363620-plot-of-new-house-m-520x337.jpg">
                                                                                    <div class="portfolio_overlay">
                                                                                    </div>
                                                                                    <div class="center-bar">
                                                                                        <a class="prettyPhotolink icon-search goup" rel="slideshow_20890"></a>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="portfolio_info">
                                                                                    <a href="project/project-10/default.htm"><h5>Project 10</h5></a>
                                                                                    <span class="portfolio_category"><a href="tag-portfolio/design/default.htm" rel="tag">Design</a>, <a href="tag-portfolio/graphics/default.htm" rel="tag">Graphics</a></span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                        <div class="the_portfolio_list_li_div" id="post-20892" style="width: 302px;">
                                                                            <div class="portfolio_item">
                                                                                <a class="prettyPhoto slideshow_20892" href="~/css/wp-content/uploads/2013/05/photodune-1544745-office-m-1-1024x486.jpg" rel="prettyPhoto"></a>
                                                                                <div class="portfolio_thumbnail">


                                                                                    <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Office" src="~/css/wp-content/uploads/2013/05/photodune-1544745-office-m-1-520x337.jpg">
                                                                                    <div class="portfolio_overlay">
                                                                                    </div>
                                                                                    <div class="center-bar">
                                                                                        <a class="prettyPhotolink icon-search goup" rel="slideshow_20892"></a>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="portfolio_info">
                                                                                    <a href="project/20892/default.htm"><h5>Full Width Project</h5></a>
                                                                                    <span class="portfolio_category"><a href="tag-portfolio/design/default.htm" rel="tag">Design</a>, <a href="tag-portfolio/idea/default.htm" rel="tag">Idea</a></span>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <script type="text/javascript" language="javascript">
                                                    jQuery(document).ready(function () {
                                                        if (jQuery('.widgets_nav .portfolio_carousel').length) {
                                                            var carpar = jQuery('.portfolio_carousel').parents('.widgets_nav');
                                                            carpar.addClass('hidden_carousel');
                                                            carpar.show();
                                                            //jQuery('body').append('<style>.widgets_nav .row-fluid::before, .row-fluid::after {display: table;content: "";line-height: 0;}</style>')
                                                        }
                                                        //
                                                        //	Responsive layout, resizing the items

                                                        jQuery('#aq-block-6 .portfolio_cars').carouFredSel({
                                                            responsive: true,
                                                            prev: '#aq-block-6 #left_car_arrow1aq-block-6',
                                                            next: '#aq-block-6 #right_car_arrow1aq-block-6',
                                                            auto: false,
                                                            swipe: {
                                                                onTouch: true,
                                                            },
                                                            items: {
                                                                visible: {
                                                                    min: 1,
                                                                    max: 4
                                                                }
                                                            }
                                                        });


                                                        jQuery('#aq-block-6 .portfolio_cars').imagesLoaded(function () {
                                                            jQuery('#aq-block-6 .portfolio_cars').carouFredSel({
                                                                responsive: true,
                                                                prev: '#aq-block-6 #left_car_arrow1aq-block-6',
                                                                next: '#aq-block-6 #right_car_arrow1aq-block-6',
                                                                auto: false,
                                                                swipe: {
                                                                    onTouch: true,
                                                                },
                                                                items: {
                                                                    visible: {
                                                                        min: 1,
                                                                        max: 4
                                                                    }
                                                                }
                                                            });

                                                        });
                                                    });

    //			var owl = jQuery("#aq-block-6 .portfolio_cars");
    //
    //			   owl.owlCarousel({
    //			       items : 4, //10 items above 1000px browser width
    //			       itemsDesktop : [1000,3], //5 items between 1000px and 901px
    //			       itemsDesktopSmall : [900,3], // betweem 900px and 601px
    //			       itemsTablet: [600,2], //2 items between 600 and 0
    //			       itemsMobile : false, // itemsMobile disabled - inherit from itemsTablet option
    //			       pagination : false,
    //			       scrollPerPage: true,
    //			       slideSpeed: 1000,
    //
    //			   });
    //
    //			   // Custom Navigation Events
    //			   jQuery("#aq-block-6 #right_car_arrow1").click(function(){
    //			     owl.trigger('owl.next');
    //			   })
    //			   jQuery("#aq-block-6 #left_car_arrow1").click(function(){
    //			     owl.trigger('owl.prev');
    //			   })
    //
    //			});
                                                </script>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><div class="container-fluid new_section">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="aq-block  aq-block-aq_action_block aq_span12 span12 aq-first cf" id="aq-block-7">
                                <div class="push_button" style="margin-top: 80px;">
                                    <div class="container">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="push_button_image" style="width: 230px;">
                                                    <img alt="Purchase Bostan Now!" src="~/css/wp-content/uploads/2013/06/photodune-219463-time-is-making-fools-of-us-again-confused-man-holding-a-clock-m5.png">
                                                </div>
                                                <div class="push_button_content" style="margin-left: 270px;">

                                                    <div class="push_button_button for_desktop"><a class="button small white" href="../../themeforest.net/item/bostan-retina-responsive-multipurpose-theme/5030415@ref=ahmadworks">Purchase</a></div>

                                                    <div class="push_button_info">
                                                        <h2>Purchase Bostan Now!</h2>                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis.</p>
                                                    </div>

                                                    <div class="push_button_button for_mobile"><a class="button small white" href="../../themeforest.net/item/bostan-retina-responsive-multipurpose-theme/5030415@ref=ahmadworks">Purchase</a></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="container-fluid new_section">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="aq-block  aq-block-aq_bloglist_block aq_span6 span6 aq-first cf" id="aq-block-8">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <h3 class="page-header">
                                            <a href=""><span class="page_header_title">Blog</span></a>
                                        </h3>

                                        <div class="row-fluid">
                                            <div class="span12">
                                                <div class="the_blog_post">
                                                    <div class="post_date_thumbnail">
                                                        <a title="A Standard Image Post" href="a-standard-image-post/default.htm">

                                                            <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="photodune-653955-work-from-home-m" src="~/css/wp-content/uploads/2013/05/photodune-653955-work-from-home-m-520x337.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="post_details">
                                                        <div class="blog_title"><a href="a-standard-image-post/default.htm"><h4>A Standard Image Post</h4></a></div>
                                                        <div class="blog_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed...</div>
                                                        <div class="read_more_link"><a href="a-standard-image-post/default.htm">Read more ...</a></div>
                                                    </div>
                                                </div>
                                                <div class="the_blog_post">
                                                    <div class="post_date_thumbnail">
                                                        <a title="This is a Gallery Post" href="this-is-a-gallery-post/default.htm">

                                                            <img width="520" height="337" class="attachment-portfolio size-portfolio wp-post-image" alt="Graduate In Hallway" src="~/css/wp-content/uploads/2013/05/photodune-344850-graduate-in-hallway-m-1-520x337.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="post_details">
                                                        <div class="blog_title"><a href="this-is-a-gallery-post/default.htm"><h4>This is a Gallery Post</h4></a></div>
                                                        <div class="blog_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed...</div>
                                                        <div class="read_more_link"><a href="this-is-a-gallery-post/default.htm">Read more ...</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div id="aq-block-9" class="aq-block  aq-block-aq_tabs_block aq_span6 span6  cf"><div class="row-fluid"><div class="span12"><div class="new_content"><h3 class="page-header"><span class="page_header_title">Why Bostan?</span></h3><div class="accordion" id="accordion9"><div class="accordion-group"><div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapse_9_1"><span style="margin-right: 4px;color:#26bdef;"><i class="icon icon-cogs" style="font-size:16px;"></i></span> Page Builder</a></div><div id="collapse_9_1" class="accordion-body collapse in"><div class="accordion-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh. Nullam nec diam risus.</div></div></div><div class="accordion-group"><div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapse_9_2"><span style="margin-right: 4px;color:#26bdef;"><i class="icon icon-magic" style="font-size:16px;"></i></span> Unlimited Colors</a></div><div id="collapse_9_2" class="accordion-body collapse "><div class="accordion-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh. Nullam nec diam risus.</div></div></div><div class="accordion-group"><div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion9" href="#collapse_9_3"><span style="margin-right: 4px;color:#26bdef;"><i class="icon icon-heart" style="font-size:16px;"></i></span> Revolution Slider</a></div><div id="collapse_9_3" class="accordion-body collapse "><div class="accordion-inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis metus vitae ligula elementum ut luctus lorem facilisis. Sed non leo nisl, ac euismod nisi. Aenean augue dolor, facilisis id fringilla ut, tempus vitae nibh. Nullam nec diam risus.</div></div></div></div></div></div></div></div>
                        </div>
                    </div>
                </div><div class="container-fluid new_section">
                    <div class="container">
                        <div class="row-fluid">
                            <div id="aq-block-10" class="aq-block  aq-block-aq_clients_block aq_span12 span12 aq-first cf">
                                <div class="row-fluid">
                                    <div class="span12">

                                        <div id="aq-block-10">
                                            <h3 class="page-header"><span class="page_header_title">Clients</span><span id="right_car_arrow3" class="cars_arrow_control right_car_arrow"><i class="icon-angle-right"></i></span><span id="left_car_arrow3" class="cars_arrow_control left_car_arrow"><i class="icon-angle-left"></i></span></h3>

                                            <div class="clients_content">
                                                <div class="clients_box ">
                                                    <ul class="clients_list">


                                                        <li><a style="display:block" target="_blank" href="http://photodune.net/" class="post-tooltip tooltip-n" original-title="Okomedia"><div class="client_item clearfix" style="position: relative;"><img width="300" height="180" src="~/css/wp-content/uploads/2013/05/logo_2.png" class="attachment- size- wp-post-image" alt="logo_2" /></div></a></li>


                                                        <li><a style="display:block" target="_blank" href="http://videohive.net/" class="post-tooltip tooltip-n" original-title="Delta"><div class="client_item clearfix" style="position: relative;"><img width="300" height="180" src="~/css/wp-content/uploads/2013/05/logo_1.png" class="attachment- size- wp-post-image" alt="logo_1" /></div></a></li>


                                                        <li><a style="display:block" target="_blank" href="http://codecanyon.net/" class="post-tooltip tooltip-n" original-title="Knowledge"><div class="client_item clearfix" style="position: relative;"><img width="300" height="180" src="~/css/wp-content/uploads/2013/05/logo_3.png" class="attachment- size- wp-post-image" alt="logo_3" /></div></a></li>


                                                        <li><a style="display:block" target="_blank" href="http://audiojungle.net/" class="post-tooltip tooltip-n" original-title="Wellpanda"><div class="client_item clearfix" style="position: relative;"><img width="300" height="180" src="~/css/wp-content/uploads/2013/05/logo_4.png" class="attachment- size- wp-post-image" alt="logo_4" /></div></a></li>


                                                        <li><a style="display:block" target="_blank" href="http://3docean.net/" class="post-tooltip tooltip-n" original-title="Volt"><div class="client_item clearfix" style="position: relative;"><img width="300" height="180" src="~/css/wp-content/uploads/2013/05/logo_5.png" class="attachment- size- wp-post-image" alt="logo_5" /></div></a></li>


                                                        <li><a style="display:block" target="_blank" href="http://activeden.net/" class="post-tooltip tooltip-n" original-title="Chapeh"><div class="client_item clearfix" style="position: relative;"><img width="173" height="109" src="~/css/wp-content/uploads/2013/05/logo_color1.jpg" class="attachment- size- wp-post-image" alt="logo_color1" /></div></a></li>


                                                        <li><a style="display:block" target="_blank" href="http://themeforest.net/" class="post-tooltip tooltip-n" original-title="Panda"><div class="client_item clearfix" style="position: relative;"><img width="173" height="109" src="~/css/wp-content/uploads/2013/05/logo_panda.jpg" class="attachment- size- wp-post-image" alt="logo_panda" /></div></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <script type="text/javascript" language="javascript">

                                            jQuery(document).ready(function ($) {


                                                var owl = jQuery("#aq-block-10 .clients_list");

                                                owl.owlCarousel({
                                                    items: 6, //10 items above 1000px browser width
                                                    itemsDesktop: [1000, 6], //5 items between 1000px and 901px
                                                    itemsDesktopSmall: [900, 5], // betweem 900px and 601px
                                                    itemsTablet: [600, 3], //2 items between 600 and 0
                                                    itemsMobile: false, // itemsMobile disabled - inherit from itemsTablet option
                                                    pagination: false,
                                                    scrollPerPage: true,
                                                    slideSpeed: 1000,

                                                });

                                                // Custom Navigation Events
                                                jQuery("#aq-block-10 #right_car_arrow3").click(function () {
                                                    owl.trigger('owl.next');
                                                })
                                                jQuery("#aq-block-10 #left_car_arrow3").click(function () {
                                                    owl.trigger('owl.prev');
                                                })

                                            });
                                        </script>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><div class="new_section"></div>
            </div>
        </div>



    </section><!-- #content -->
